{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<h4>Locations</h4>
<a href="/add_location" class="btn btn-success mb-3">Add Location</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Location ID</th>
            <th>Location Name</th>
        </tr>
    </thead>
    <tbody>
        {% for l in locations %}
        <tr>
            <td>{{ l[0] }}</td>
            <td>{{ l[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}