{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<h4>Products</h4>
<a href="/add_product" class="btn btn-success mb-3">Add Product</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
        </tr>
    </thead>
    <tbody>
        {% for p in products %}
        <tr>
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}